<div class="govuk-phase-banner govuk-phase-banner__mobile govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>
      <span class="govuk-phase-banner__text">This is a new service - your <a class="govuk-link" target="_blank" href="https://www.get-help-buying-for-schools.service.gov.uk/customer_satisfaction_surveys/new?service=find_a_framework&source=banner_link">feedback</a> will help us to improve it.</span>
    </p>
  </div>