{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
  #}

  {% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

  {% block pageTitle %}
  FABS Prototype - {{ serviceName }}
  {% endblock %}


  {% block header %}
    {% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}
    {% include "/v3/includes/nav.html" %}

    <section style="background-color:#003A69;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-4">
      <div class="govuk-width-container"  style="margin-top: 0px; margin-bottom: 20px;">
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                 <h1 class="govuk-heading-xl" style="color: #ffffff;">Get help buying for schools
                 
                  <p class="govuk-body-l govuk-!-font-weight-bold" style="color: #CCD8E1; margin-top: 10px;" >The standards are a set of principles and guidelines to ensure we design and build digital services consistently and with accessibility and the user at the centre.</p>
                 </h1>
                 


                 


              
                <div class="govuk-form-group">
                <!--  <label style="margin-bottom:-20px; margin-top: 20px; color: #ffffff;" class="govuk-label" for="search">
                    Search
                  </label> -->
                
                <div style="display: flex; margin-top: -10px; padding-top: 5px; margin-bottom: -15px;" class="govuk-form-group">
                  <input style="border: 0; border-right: #003A69; height: 47px;" class="govuk-input govuk-!-width-two-thirds" id="qualification-search" name="qualification-search" type="text" value="">
                  <div style="display: flex; align-items: left" class="govuk-button-group">
                    
        
        <button type="Submit" class="govuk-button--search" data-module="govuk-button" data-govuk-button-init="">
          Search
        </button>

       
      
                   
                  </div>
                  
                </div>
               
              
                <a class="govuk-link" style="color: #ffffff; margin-bottom: 200px;" href="">View list of all DfE-aproved buying options</a>  
              </div>
              
              

             
              


            
              </div>
          </div>
      </div>
  </section>
  



 


    <div class="govuk-phase-banner govuk-width-container">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>
        <span class="govuk-phase-banner__text">This is a new service - your <a class="govuk-link" target="_blank" href="https://www.get-help-buying-for-schools.service.gov.uk/customer_satisfaction_surveys/new?service=find_a_framework&source=banner_link">feedback</a> will help us to improve it.</span>
      </p>
    </div>




  





  {% endblock %}
  
  {% block scripts %}
    {{ super() }}
    <script src="/public/javascripts/dfefrontend.js"></script>
  {% endblock %}
  
{% block footer %}
  <footer class="govuk-footer">
    <div class="govuk-width-container">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
         
         <!-- Grid row links, removed for the MVP
         
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <ul class="govuk-list govuk-list--spaced">
                <li class="govuk-!-font-weight-bold">Service information</li>
                <li><a class="govuk-link" href="#">About us</a></li>
                <li><a class="govuk-link" href="#">About "DfE-approved"</a>
                  </li>
                <li><a class="govuk-link" href="#">Contact us</a></li>
              </ul>
            </div>
            <div class="govuk-grid-column-one-third">
              <ul class="govuk-list govuk-list--spaced">
                <li class="govuk-!-font-weight-bold">Site information</li>
                <li><a class="govuk-link" href="#">Accessibility statement</a>
                  </li>
                <li><a class="govuk-link" href="#">Privacy notice</a></li>
                <li><a class="govuk-link" href="#">Terms and conditions</a></li>
              </ul>
            </div>
            <div class="govuk-grid-column-one-third">
              <ul class="govuk-list govuk-list--spaced">
                <li class="govuk-!-font-weight-bold">Give feedback</li>
                <li><a class="govuk-link" href="#">Give feedback</a></li>
                <li><a class="govuk-link" href="#">Report a technical issue
                  </a></li>
              </ul>
            </div>
          </div>

 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          -->



         
          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" target="_blank" href="https://www.get-help-buying-for-schools.service.gov.uk/procurement-support?referred_by=RnJhbWV3b3JrIG91dGNvbWUgcGFnZSBodHRwczovL2ZpbmQtZGZlLWFwcHJvdmVkLWZyYW1ld29yay5zZXJ2aWNlLmdvdi51ay9maW5kL3R5cGUvb24tZ29pbmcvc2VydmljZXMtY2F0ZWdvcmllcy9lbmVyZ3kvZW5lcmd5L2hpc3RvcmljLWJpbGxzL2RlYnQtcmVzb2x1dGlvbi1zZXJ2aWNlcw==&session_id=518892a7-19e8-4e7c-9aaf-1b1939b1e9b2">
              Request help and support for your procurement</a>
              </li>
            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="feedback">
                Feedback</a>
              </li>
            <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="accessibility-statement">
              Accessibility statement</a>
              </li>
            </br>
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="privacy">
                Privacy notice</a>
                </li>
                <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="terms">
                  Terms and conditions</a>
                  </li>

          </ul>
          <svg
            aria-hidden="true"
            focusable="false"
            class="govuk-footer__licence-logo"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 483.2 195.7"
            height="17"
            width="41">
            <path
              fill="currentColor"
              d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
          </svg>
          <span class="govuk-footer__licence-description">
            All content is available under the
            <a
              class="govuk-footer__link"
              href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
              rel="license">Open Government Licence v3.0</a>, except where otherwise stated
          </span>
        </div>
        <div class="govuk-footer__meta-item">
          <a
            class="govuk-footer__link govuk-footer__copyright-logo"
            href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
            © Crown copyright
          </a>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}  
