{% extends "v3/layouts/main-footer.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block pageTitle %}
FABS Prototype - {{ serviceName }}
{% endblock %}


{% block header %}
  {% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}
  
  {% include "/v3/includes/nav.html" %}

  <section class="govuk-!-padding-top-7 govuk-!-padding-bottom-4 govuk-service-navigation">

  {% include "/v3/includes/beta-banner.html" %}


  <!-- Breadcrums -->
    <div class="govuk-width-container" style="margin-top: 0px;">
      <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list govuk-body-s">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/v3/home">Home</a>
          </li>
         
         
        </ol>
      </nav>
    </div>




    <div class="govuk-width-container" style="margin-top: 35px;">




        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <span class="govuk-caption-m">Buying category</span>
               <h1 class="govuk-heading-l">Energy
               
                <p class="govuk-body-l" style="margin-top: 10px;">Buy electricity, gas, and other fuels</p>
               </h1>
               

            

           
            


          
            </div>
        </div>
    </div>
</section>


{% endblock %}










































{% block content %}







<!-- frameworks-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


  
        


 <!-- 


  
  
    

    

    

    
     
    
      



              -->

<ul class="chevron-card-list">
  <li class="chevron-card">
    <h2 class="govuk-heading-m">Buying options<p class="govuk-body-m"  style="margin-top: 10px;">All buying options are DfE-approved and listed alphabetically.</p></h2>
    
  </li>
  {% include "/v3/includes/buying-options/energy.html" %}  
    </ul>


    
    
            </div>




















    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/guidance/plan-technology-for-your-school?utm_medium=referral&utm_source=ghbs_framework" target="_blank">
                Plan technology for your school
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/buying-for-schools--2" target="_blank">
                Buying for schools guidance
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/meeting-digital-and-technology-standards-in-schools-and-colleges/broadband-internet-standards-for-schools-and-colleges" target="_blank">
               Broadband internet standards for schools and colleges
              </a>
            </li>

 <!--           <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li> -->
          


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
           
        <li>
          <a href="https://buyingforschools.blog.gov.uk/2024/11/19/update-for-schools-and-trusts-on-procurement-act-2023-are-you-ready/" target="_blank">
            Register for e-learning and information about the new Procurement Act 2023
          </a>
        </li>  



          </ul>
        </nav>
      </aside>

    </div>
</div>




{% endblock %}
