{% extends "v3/layouts/main-footer.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block pageTitle %}
FABS Prototype - {{ serviceName }}
{% endblock %}


{% block header %}
  {% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}
  
  {% include "/v3/includes/nav.html" %}

  <section class="govuk-!-padding-top-7 govuk-!-padding-bottom-4 govuk-service-navigation">

  {% include "/v3/includes/beta-banner.html" %}


  <!-- Breadcrums -->
    <div class="govuk-width-container" style="margin-top: 0px;">
      <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list govuk-body-s">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/v3/home">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/v3/energy/energy">Energy</a>
          </li>
         
        </ol>
      </nav>
    </div>







    









    <div class="govuk-width-container" style="margin-top: 35px;">




        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <span class="govuk-caption-m">Buying option</span>
               <h1 class="govuk-heading-l">Education decarbonisation
               
                <p class="govuk-body-l" style="margin-top: 10px;">A framework that offers schools a simple and compliant route to market to access sector-specific decarbonisation experts, safe in the knowledge that a robust tender exercise has taken place to award the framework.</p>
               </h1>
               

               


          
            </div>
        </div>
    </div>
</section>


{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/dfefrontend.js"></script>
{% endblock %}






































































{% block content %}




<!-- framework details-->


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">


<!--  <p class="govuk-body-l">We think you should use the Crescent Purchasing Consortium (CPC) framework.</p> -->
        
  <div>
    <h2 class="govuk-heading-m">What it offers</h2>
    <p>Education decarbonisation framework provides a compliant route to secure specialist sector-specific carbon reduction expertise. The framework offers streamlined access to pre-approved suppliers and includes dedicated bid application support.</p>
  </div>

  <div>
    <h2 class="govuk-heading-m">Benefits</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>quick and simple to access</li>
      <li>set up specifically to support the education sector</li>
      <li>access can be done on a ‘no-obligation’ basis</li>
    </ul>
  </div>





  <!-- DEFAULT CONTENT FOR ALL BUYING OPTIONS -->

  <div>
    <p>All frameworks also offer</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>compliance with the relevant procurement regulations</li>
      <li>suppliers pre-checked by the approved framework provider</li>
      <li>pre-agreed terms and conditions</li>
    </ul>
  </div>



  <a href="https://westmerciaenergy.co.uk/energy-frameworks/decarbonisation" target="_blank" role="button" draggable="false" class="govuk-button govuk-!-margin-top-5 frameworkbutton--external" data-module="govuk-button">
    Visit the <span id="supplier">WME</span> website
  </a>
          



        </div>


















        <div class="govuk-grid-column-one-third">

          <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
              Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16">
                <li>
                  <a href="https://www.gov.uk/guidance/plan-technology-for-your-school?utm_medium=referral&utm_source=ghbs_framework" target="_blank">
                    Plan technology for your school
                  </a>
                </li>
                <li>
                  <a href="https://www.gov.uk/guidance/buying-for-schools--2" target="_blank">
                    Buying for schools guidance
                  </a>
                </li>
                <li>
                  <a href="https://www.gov.uk/guidance/meeting-digital-and-technology-standards-in-schools-and-colleges/broadband-internet-standards-for-schools-and-colleges" target="_blank">
                   Broadband internet standards for schools and colleges
                  </a>
                </li>
    
     <!--           <li>
                  <a href="#" class="govuk-!-font-weight-bold">
                    More <span class="govuk-visually-hidden">in Subsection</span>
                  </a>
                </li> -->
              
    
    
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
               
            <li>
              <a href="https://buyingforschools.blog.gov.uk/2024/11/19/update-for-schools-and-trusts-on-procurement-act-2023-are-you-ready/" target="_blank">
                Register for e-learning and information about the new Procurement Act 2023
              </a>
            </li>  
    
    
    
              </ul>
            </nav>
          </aside>
    
        </div>
    </div>
    



{% endblock %}
