{% extends "v3/layouts/main-footer.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block pageTitle %}
FABS Prototype - {{ serviceName }}
{% endblock %}


{% block header %}
  {% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}
  
  {% include "/v3/includes/nav.html" %}

  <section class="govuk-!-padding-top-7 govuk-!-padding-bottom-4 govuk-service-navigation">

  {% include "/v3/includes/beta-banner.html" %}


  <!-- Breadcrums -->
    <div class="govuk-width-container" style="margin-top: 0px;">
      <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list govuk-body-s">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/v3/home">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/v3/energy/energy">Energy</a>
          </li>
         
        </ol>
      </nav>
    </div>







    









    <div class="govuk-width-container" style="margin-top: 35px;">




        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <span class="govuk-caption-m">Buying option</span>
               <h1 class="govuk-heading-l">Energy cost recovery services
               
                <p class="govuk-body-l" style="margin-top: 10px;">Sourced by the DfE on behalf of schools and trusts, this service provides access to extensive energy bill audit and cost recovery services.</p>
               </h1>
               

               


          
            </div>
        </div>
    </div>
</section>


{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/dfefrontend.js"></script>
{% endblock %}






































































{% block content %}




<!-- framework details-->


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">


<!--  <p class="govuk-body-l">We think you should use the Crescent Purchasing Consortium (CPC) framework.</p> -->
        
  <div>
    <h2 class="govuk-heading-m">What this contract offers</h2>
    <p>To make this service easier for schools and trusts to access, the Department for Education have run a procurement centrally from Crown Commercial Service (CCS) Framework RM6266, and appointed PCMG to deliver the validation of electricity and gas bills and carry out cost recovery services where errors are identified. The contract aims to ensure that all schools across England can benefit from specialist contract compliance reviews, including the identification of payment errors and the potential recovery of funds.</p>
  </div>

  <div>
    <h2 class="govuk-heading-m">How to access the contract</h2>
    <p>To access this contract schools and trusts will need to complete the form below (click on the green 'Visit DfE website' button).</p>
    <p>On registration you will be issued a Letter of Engagement to complete and sign, formalising the agreement between you and the supplier and agreeing to the terms of the service.</p>
    <p>You will also be required to sign a Letter of Authority to allow PCMG to engage directly with your current energy provider.</p>
  </div>

  <div>
    <h2 class="govuk-heading-m">What happens next</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>on completion of the Letter of Engagement and Letter of Authority, the supplier will gather the information required and undertake the analysis. This could take up to three months to complete</li>
      <li>when completed the analysis report will be sent to you</li>
      <li>all recommendations will only be actionable in the event you are happy to proceed and confirm this in writing (including any recoveries). In this event, the supplier will progress these on your behalf</li>
      <li>arrangements will be agreed for the return or crediting of identified funds and upon receipt, the supplier will invoice you requesting payment based on the terms agreed in the Letter of Engagement</li>
    </ul>
  </div>








  <div>
    <h2 class="govuk-heading-m">Benefits</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>quick and easy to sign up</li>
      <li>electricity and/or gas bill audits (up to 6 years retrospectively) and identification of billing and/or payment errors</li>
      <li>no cost to your organisation as the contract operates on a commission basis in the event of any cost recovery</li>
    </ul>

    <p>Alternatively, you can set up your own contract directly via:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Crown Commercial Service (CCS) Debt Resolution Services RM6226 framework (To access - click the link in the Related Content / Explore the topic section on the right-hand side of this page)</li>
    </ul>
  </div>





  <!-- DEFAULT CONTENT FOR ALL BUYING OPTIONS -->

  <div>
    <p>All frameworks also offer</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>compliance with the relevant procurement regulations</li>
      <li>suppliers pre-checked by the approved framework provider</li>
      <li>pre-agreed terms and conditions</li>
    </ul>
  </div>



  <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-cgc8KVo9lNBsvESLiYkD39UMlkwSllDUzNGRUo2UlNETlpMTVlSS0FOSS4u" target="_blank" role="button" draggable="false" class="govuk-button govuk-!-margin-top-5 frameworkbutton--external" data-module="govuk-button">
    Visit the <span id="supplier">DFE</span> website
  </a>
          



        </div>


















        <div class="govuk-grid-column-one-third">

          <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
              Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16">
                <li>
                  <a href="https://www.gov.uk/guidance/plan-technology-for-your-school?utm_medium=referral&utm_source=ghbs_framework" target="_blank">
                    Plan technology for your school
                  </a>
                </li>
                <li>
                  <a href="https://www.gov.uk/guidance/buying-for-schools--2" target="_blank">
                    Buying for schools guidance
                  </a>
                </li>
                <li>
                  <a href="https://www.gov.uk/guidance/meeting-digital-and-technology-standards-in-schools-and-colleges/broadband-internet-standards-for-schools-and-colleges" target="_blank">
                   Broadband internet standards for schools and colleges
                  </a>
                </li>
    
     <!--           <li>
                  <a href="#" class="govuk-!-font-weight-bold">
                    More <span class="govuk-visually-hidden">in Subsection</span>
                  </a>
                </li> -->
              
    
    
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
               
            <li>
              <a href="https://buyingforschools.blog.gov.uk/2024/11/19/update-for-schools-and-trusts-on-procurement-act-2023-are-you-ready/" target="_blank">
                Register for e-learning and information about the new Procurement Act 2023
              </a>
            </li>  
    
    
    
              </ul>
            </nav>
          </aside>
    
        </div>
    </div>
    



{% endblock %}
