{% extends "v2/layouts/main-other-pages.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block pageTitle %}
FABS Prototype - {{ serviceName }}
{% endblock %}



{% block header %}
  {% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}
  <header class="dfe-header" role="banner">
    <div class="govuk-width-container dfe-header__container">
        <div class="dfe-header__logo">
          <a class="dfe-header__link" href="/v2/home" aria-label="DfE homepage">
          <img src="/public/images/dfe-logo.png" class="dfe-logo" alt="Department for Education">
          <img src="/public/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education">
          </a>

       

        </div>
        
        <!-- removed content for the home page -->
        
        <div class="dfe-header__content" id="content-header">
        <!--  
          <ul class="dfe-header__action-links">
              <li>
                <a href="/" class="govuk-link govuk-link--inverse">My account</a>
              </li>
              <li>
                <a href="/" class="govuk-link govuk-link--inverse">Sign out</a>
              </li>
          </ul> 
          -->
          <div class="dfe-header__menu">
              <button class="dfe-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
          </div>
          <div class="dfe-header__search">
              <button class="dfe-header__search-toggle" id="toggle-search" aria-controls="search" aria-label="Open search">
                <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                    <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                </svg>
                <span class="govuk-visually-hidden">Search</span>
              </button>
              <div class="dfe-header__search-wrap" id="wrap-search">
                <form class="dfe-header__search-form" id="search" action="/search/" method="get" role="search">
                    <label class="govuk-visually-hidden" for="search-field">Search this website</label>
                    <input class="dfe-search__input" id="search-field" name="q" type="search" placeholder="Search" autocomplete="off" spellcheck="false" data-ms-editor="true">
                    <button class="dfe-search__submit" type="submit">
                      <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                          <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                      </svg>
                      <span class="govuk-visually-hidden">Search</span>
                    </button>
                    <button class="dfe-search__close" id="close-search">
                      <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                          <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                      </svg>
                      <span class="govuk-visually-hidden">Close search</span>
                    </button>
                </form>
              </div>
          </div>
        </div>

      

   
      

    </div>
    <div class="govuk-width-container dfe-header__service-name">
        <a href="/" class="dfe-header__link--service">Get help buying for schools</a>
    
      </div>
    </br>
  <!-- 
    <nav class="dfe-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
        <div class="govuk-width-container">
          <p class="dfe-header__navigation-title">
              <span id="label-navigation">
                Menu
          <div id="extwaiokist" style="display:none" v="bmmch" q="f0ae2e3d" c="594.5" i="601" u="0.751" s="04272401" sg="svr_09102316-ga_04272401-bai_04252415" d="1" w="false" e="}" a="2" m="BMe=" vn="9colr"><div id="extwaigglbit" style="display:none" v="bmmch" q="f0ae2e3d" c="594.5" i="601" u="0.751" s="04272401" sg="svr_09102316-ga_04272401-bai_04252415" d="1" w="false" e="}" a="2" m="BMe="></div></div></span>
          <button class="dfe-header__navigation-close" id="close-menu">
              <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
              </svg>
              <span class="govuk-visually-hidden">Close menu</span>
          </button>
          </p>
          <ul class="dfe-header__navigation-list">
              <li class="dfe-header__navigation-item dfe-header__navigation-item--current">
                <a class="dfe-header__navigation-link" href="/v2/home">
                    Home
                    <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                    </svg>
                </a>
              </li>
              <li class="dfe-header__navigation-item ">
                <a class="dfe-header__navigation-link" href="/v2/home">
                    Guidance
                    <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                      <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                    </svg>
                </a>
              </li>
           
          </ul>
        </div>
    </nav>

    -->

  </header>





































{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/dfefrontend.js"></script>
{% endblock %}






































































{% block content %}







<div class="govuk-grid-row">

  <div class="govuk-phase-banner govuk-width-container" style="margin-top: -35px; margin-bottom: 20px;">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>
      <span class="govuk-phase-banner__text">This is a new service. Help us
        improve it and <a class="govuk-link" href="https://staging.get-help-buying-for-schools.service.gov.uk/customer_satisfaction_surveys/new?service=supported_journey&source=banner_link">
        give your feedback by email</a>.</span>
    </p>
  </div>









<div class="govuk-width-container" style="margin-top: -10px;">
<a href="/v2/home" class="govuk-back-link">Back</a>
</div> 


<div class="govuk-grid-column-two-thirds">

        
  <div>
    <h1 class="govuk-heading-xl">Before you go
    <p>Please could you let us know how easy was it to use this service. Your feedback helps us make our service better.</p>
  </h1>
  </div>















  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          What did you use the service for today?
        </h1>
      </legend>
      <div id="contact-hint" class="govuk-hint">
        Select all options that are relevant to you
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-checkboxes__label" for="contact">
            Browsing
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-email">
              Email address
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
          <label class="govuk-label govuk-checkboxes__label" for="contact-2">
            Finding a framework
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-phone">
              Phone number
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
          </div>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
          <label class="govuk-label govuk-checkboxes__label" for="contact-3">
            Guidance
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
          <label class="govuk-label govuk-checkboxes__label" for="contact-3">
            Request for help
          </label>
        </div>


        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
          <label class="govuk-label govuk-checkboxes__label" for="contact-3">
            Other
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-text">
              Label - text area
            </label>
            <textarea class="govuk-textarea" id="more-detail-other" name="moreDetailother" rows="3" aria-describedby="more-detail-hint"></textarea>
          </div>
        </div>
      </div>
    </fieldset>
  </div>













  






















  








  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Did this service help you get what you were looking for?
        </h1>
      </legend>
    
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-radios__label" for="contact">
            Yes
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-email">
              E
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
          <label class="govuk-label govuk-radios__label" for="contact-2">
            No
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-phone">
              Tell us why
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="3" aria-describedby="more-detail-hint"></textarea>
          </div>
        </div>
      
      </div>
    </fieldset>
  </div>






























  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="more-detail">
        How could we improve this service?
      </label>
    </h1>

    <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
  </div>












</br>

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Send feedback
    </button>
    <a class="govuk-link" href="#">Skip survey</a>
  </div>




   

</div>

















{% endblock %}








