{% extends "v1/layouts/main-home.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}




<div>
<span class="govuk-caption-l">DfE-approved</span>
<h2 class="govuk-heading-l">Buying options</h2>
<!-- <p class="govuk-body-l">Find DfE-approved buying options such as frameowrks, which are lists of pre-checked suppliers.</p> -->
</div>


<div class="dfe-grid-container">

<!-- First row -->

  <div class="dfe-card">
      <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
            <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Audit or consultancy services</a>
        </h3>
      <p>Audits for energy efficiency, or financial spend, or consultancy for education, estates management or ICT, or services such as legal or spend analysis and recovery.</p> 
      </div>
  </div>
  <div class="dfe-card">
      <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
            <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Banking and laons</a>
        </h3>
        <p>Bank accounts, loans and leasing and spend analysis and recovery services.</p>
      </div>
  </div>
  <div class="dfe-card">
    <div class="dfe-card-container">
      <h3 class="govuk-heading-m">
          <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Caring</a>
      </h3>
      <p>Catering equipment, catering service or food supplies.</p>
    </div>
</div>

<!-- 2nd row -->

<div class="dfe-card">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Cleaning</a>
    </h3>
  <p>Cleaning service or cleaning supplies, such as hand towels.</p> 
  </div>
</div>
<div class="dfe-card">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Classroom supplies</a>
    </h3>
    <p>Arts and crafts supplies, books, furniture or stationery, such as excercise books.</p>
  </div>
</div>
<div class="dfe-card">
<div class="dfe-card-container">
  <h3 class="govuk-heading-m">
      <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Energy</a>
  </h3>
  <p>Energy (electricity and gas), liquid fuels (petrol, diesel), or products and services for improving energy efficiency.</p>
</div>
</div>

<!-- 3rd row -->

<div class="dfe-card">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Equipment for activities and clubs</a>
    </h3>
  <p>Musical instruments, and sports equipment and facilities</p> 
  </div>
</div>
<div class="dfe-card">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Grounds maintenance and estates</a>
    </h3>
    <p>Services to maintain your building and keep it safe, such as total grounds maintenance, safety or facilities management, or boilers and plumbing, fire safety, security and waste management.</p>
  </div>
</div>
<div class="dfe-card">
<div class="dfe-card-container">
  <h3 class="govuk-heading-m">
      <a href="ict/ict" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">ICT</a>
  </h3>
  <p>ICT hardware, such as laptops, tablets, printers, software, broadband or Wi-Fi, cloud storage, consultancy, or Management Information Systems.</p>
</div>
</div>

<!-- 4th row -->

<div class="dfe-card">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Risk protection and insurance</a>
    </h3>
  <p>Risk protection, per pupil or place, such as DfE’s Risk Protection Arrangement., or insurance options.</p> 
  </div>
</div>
<div class="dfe-card">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Supply teachers, staff and HR</a>
    </h3>
    <p>Supply teachers, temporary or permanent staff, payroll services and employee screening services.</p>
  </div>
</div>
<div class="dfe-card">
<div class="dfe-card-container">
  <h3 class="govuk-heading-m">
      <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Vehicle hire and purchase</a>
  </h3>
  <p>Vehicles for school trips, or school transport.</p>
</div>
</div>

</div>

<p class="govuk-body">
  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">I need something else (opens in new tab)</a>
</p>



{% endblock %}
