{% extends "v3/layouts/main-home.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}




<div>
<span class="govuk-caption-l">DfE-approved</span>
<h2 class="govuk-heading-l">Buying options</h2>
<!-- <p class="govuk-body-l">Find DfE-approved buying options such as frameowrks, which are lists of pre-checked suppliers.</p> -->
</div>


<div class="dfe-grid-container">

<!-- First row -->

  <div class="dfe-card">
      <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
            <a href="audit-consultancy/audit-consultancy" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Audit or consultancy services</a>
        </h3>
      <p>Buy professional services</p> 
      </div>
  </div>
  <div class="dfe-card">
      <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
            <a href="banking-laons/banking-loans" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Banking and loans</a>
        </h3>
        <p>Buy financial services</p>
      </div>
  </div>
  <div class="dfe-card">
    <div class="dfe-card-container">
      <h3 class="govuk-heading-m">
          <a href="catering/catering" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Catering</a>
      </h3>
      <p>Buy food, drink and catering services</p>
    </div>
</div>

<!-- 2nd row -->

<div class="dfe-card">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
        <a href="classroom/classroom-supplies" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Classroom supplies</a>
    </h3>
    <p>Buy arts and crafts supplies and stationery</p>
  </div>
</div>

<div class="dfe-card">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
        <a href="cleaning/cleaning" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Cleaning</a>
    </h3>
  <p>Buy cleaning supplies and services</p> 
  </div>
</div>

<div class="dfe-card">
<div class="dfe-card-container">
  <h3 class="govuk-heading-m">
      <a href="energy/energy" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Energy</a>
  </h3>
  <p>Buy electricity, gas, and other fuels</p>
</div>
</div>

<!-- 3rd row -->

<div class="dfe-card">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
        <a href="equipment-for-clubs/equipment-for-activities-clubs" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Equipment for activities and clubs</a>
    </h3>
  <p>Buy musical instruments, sports equipment and facilities</p> 
  </div>
</div>
<div class="dfe-card">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
        <a href="ground-maintanance/grounds-maintenance-estates" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Grounds maintenance and estates</a>
    </h3>
    <p>Buy facilities management services</p>
  </div>
</div>
<div class="dfe-card">
<div class="dfe-card-container">
  <h3 class="govuk-heading-m">
      <a href="ict/ict" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">IT</a>
  </h3>
  <p>Buy IT and ICT equipment and services</p>
</div>
</div>

<!-- 4th row -->

<div class="dfe-card">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
        <a href="risk-protection/risk-protection-insurance" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Risk protection and insurance</a>
    </h3>
  <p>Buy risk protection solutions</p> 
  </div>
</div>
<div class="dfe-card">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
        <a href="supply-teachers/supply-teachers" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Supply teachers, staff and HR</a>
    </h3>
    <p>Buy staffing solutions</p>
  </div>
</div>
<div class="dfe-card">
<div class="dfe-card-container">
  <h3 class="govuk-heading-m">
      <a href="vehicles/vehicle-hire-purchase" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Vehicle hire and purchase</a>
  </h3>
  <p>Buy vehicles for school trips and transport</p>
</div>
</div>

</div>

<p class="govuk-body">
  <a href="https://www.get-help-buying-for-schools.service.gov.uk/procurement-support?referred_by=RnJhbWV3b3JrIG91dGNvbWUgcGFnZSBodHRwczovL2ZpbmQtZGZlLWFwcHJvdmVkLWZyYW1ld29yay5zZXJ2aWNlLmdvdi51ay9maW5kL3R5cGUvb24tZ29pbmcvc2VydmljZXMtY2F0ZWdvcmllcy9lbmVyZ3kvZW5lcmd5L2hpc3RvcmljLWJpbGxzL2RlYnQtcmVzb2x1dGlvbi1zZXJ2aWNlcw==&session_id=518892a7-19e8-4e7c-9aaf-1b1939b1e9b2" class="govuk-link" rel="noreferrer noopener" target="_blank">I need something else (opens in new tab)</a>
</p>



{% endblock %}
