{% extends "v3/layouts/main-footer.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block pageTitle %}
FABS Prototype - {{ serviceName }}
{% endblock %}


{% block header %}
  {% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}
  
  {% include "/v3/includes/nav.html" %}

  <section class="govuk-!-padding-top-7 govuk-!-padding-bottom-4 govuk-service-navigation">

  {% include "/v3/includes/beta-banner.html" %}


  <!-- Breadcrums -->
    <div class="govuk-width-container" style="margin-top: 0px;">
      <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list govuk-body-s">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/v3/home">Home</a>
          </li>
         
         
        </ol>
      </nav>
    </div>





    <div class="govuk-width-container" style="margin-top: 35px;">




        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <span class="govuk-caption-m">Buying category</span>
               <h1 class="govuk-heading-l">Supply teachers, staff and HR
               
                <p class="govuk-body-l" style="margin-top: 10px;">Buy staffing solutions</p>
               </h1>
               

            

           
            


          
            </div>
        </div>
    </div>
</section>


{% endblock %}










































{% block content %}







<!-- frameworks-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


  
        


 <!-- 


  
  
    

    

    

    
     
    
      



              -->

<ul class="chevron-card-list">
  <li class="chevron-card">
    <h2 class="govuk-heading-m">Buying options<p class="govuk-body-m"  style="margin-top: 10px;">All buying options are DfE-approved and listed alphabetically.</p></h2>
  </li>
  


  <li class="chevron-card">
    <div class="chevron-card__wrapper">
      <p class="govuk-body-m  govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
        <a class="govuk-link chevron-card__link" href="buying-options/hr-payroll-employee.html">HR, payroll and employee screening services</a>
      </p>
      <p class="govuk-body-m chevron-card__description" style="margin-top: 10px;">Supporting education establishments with access to a range of HR, payroll, employee screening services and DBS and criminal record checks.</p>
    </div>
  </li>

  <li class="chevron-card">
    <div class="chevron-card__wrapper">
      <p class="govuk-body-m  govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
        <a class="govuk-link chevron-card__link" href="buying-options/national-professional-qualification.html">National professional qualification</a>
      </p>
      <p class="govuk-body-m chevron-card__description" style="margin-top: 10px;">Supporting education establishments with access to quality assured national professional qualifications training and support for school teachers and leaders.</p>
    </div>
  </li>
  
  <li class="chevron-card">
    <div class="chevron-card__wrapper">
      <p class="govuk-body-m  govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
        <a class="govuk-link chevron-card__link" href="buying-options/specialist-professional-services-3.html">Specialist professional services</a>
      </p>
      <p class="govuk-body-m chevron-card__description" style="margin-top: 10px;">Specifically designed for the procurement of specialist professional services by the public sector covering a range of spend areas, including facilities management, catering, construction, environment, sustainability, waste, ICT and education consultancy. Extensive experience within the local authority and school sector.</p>
    </div>
  </li>
  
  <li class="chevron-card">
    <div class="chevron-card__wrapper">
      <p class="govuk-body-m  govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
        <a class="govuk-link chevron-card__link" href="buying-options/supply-teachers-temporary-staffing.html">Supply teachers and temporary staffing (STaTS)</a>
      </p>
      <p class="govuk-body-m chevron-card__description" style="margin-top: 10px;">Suppliers available for hiring of all temporary and fixed term teaching and non-teaching staff for schools, colleges or other educational establishments within the public sector such as an academy, trust, nursery, pupil referral unit, children centre or further education institution, across the UK. Independent schools (for-profit) are not able to access the deal.</p>
    </div>
  </li>
 
  <li class="chevron-card">
    <div class="chevron-card__wrapper">
      <p class="govuk-body-m  govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
        <a class="govuk-link chevron-card__link" href="buying-options/temporary-permanent-staffing.html">Temporary and permanent staffing</a>
      </p>
      <p class="govuk-body-m chevron-card__description" style="margin-top: 10px;">Supporting education establishments with access to recruitment agencies for the provision of acquiring temporary and permanent staffing.</p>
    </div>
  </li>
 


    </ul>


    
    
            </div>




















    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/guidance/plan-technology-for-your-school?utm_medium=referral&utm_source=ghbs_framework" target="_blank">
                Plan technology for your school
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/buying-for-schools--2" target="_blank">
                Buying for schools guidance
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/meeting-digital-and-technology-standards-in-schools-and-colleges/broadband-internet-standards-for-schools-and-colleges" target="_blank">
               Broadband internet standards for schools and colleges
              </a>
            </li>

 <!--           <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li> -->
          


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
           
        <li>
          <a href="https://buyingforschools.blog.gov.uk/2024/11/19/update-for-schools-and-trusts-on-procurement-act-2023-are-you-ready/" target="_blank">
            Register for e-learning and information about the new Procurement Act 2023
          </a>
        </li>  



          </ul>
        </nav>
      </aside>

    </div>
</div>




{% endblock %}
