{% extends "layouts/main-index-header.html" %}

{% set pageName="Home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">










































<!--
<strong class="govuk-tag" style="margin-bottom: 10px;">Latest version</strong>

      <h2 class="govuk-heading-l">V2 - Be live soon...
      </h2>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

-->
      

<!-- v2 -->





<strong class="govuk-tag" style="margin-bottom: 10px;">Latest version</strong>

      <h2 class="govuk-heading-l">V2 - All buying options
        <p class="govuk-body-m" style="margin-top: 10px;">In this version of the prototype, users can explore all journeys, browse through every category and available buying option, with accurate data fetched from FAF, including direct routes to their provider’s websites.
        

        </p>
      </h2>


      <a href="v2/home.html" target="_blank" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start prototype
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <span class="govuk-caption-m">Last updated on 11 April 2025</span>
      <span class="govuk-caption-m">Created on 25 March 2025</span>
      <span class="govuk-caption-m">Page count: 80</span>
      <span class="govuk-caption-m">Version: 2</span>
</br>
  


      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version details
          </span>
        </summary>
</br>
        <ul class="govuk-list govuk-list--bullet">
          <li>Breadcrumbs are added on all pages</li>
          <li>All buying options from FAF with accurate title and description</li>
          <li>All buying options with accurate details and call to action</li>
          <li>Sidebar links to redirect users to the relevant GOV pages</li>
          <li>12 categories</li>
          <li>66 buying options</li>
         

  
        </ul> 

      </details>





<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


  










<!-- v1 -->
    

      <h2 class="govuk-heading-l">V1 - Prototype launch
        <p class="govuk-body-m" style="margin-top: 10px;">Initial installation of the prototype. Setting up the Github and connecting with Heroku to get started. Initial prototype covers ICT journey, allowing users to browse Homepage, ICT category page with list of all ICT frameworks and frameowork details page.</p>
      </h2>


      <a href="v1/home.html" target="_blank" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
        View prototype
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <span class="govuk-caption-m">Last updated on 25 March 2025</span>
      <span class="govuk-caption-m">Created on 18 March 2025</span>
      <span class="govuk-caption-m">Page count: 18</span>
      <span class="govuk-caption-m">Version: 1</span>
</br>
  


      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version details
          </span>
        </summary>
</br>
        <ul class="govuk-list govuk-list--bullet">
          <li>Install and setup Prototype kit</li>
          <li>Create and setup Github repository - "ghbs-fabs2"</li>
          <li>Setup Heroku app for the prototype</li>
          <li>Publish prototype on Heroku</li>
          <li>Home page, categories page, details page</li>
          <li>Categories, title and description</li>
          <li>Related content in sidebar</li>
          <li>Header and footer - different for home page and other pages</li>
          <li>Header and footer - different for home page and other pages</li>
  
        </ul> 

      </details>
     
     

      <div>
        <img src="https://media.giphy.com/media/1itd8X8whi3eOgZSRW/giphy.gif?cid=ecf05e47kzvpx8mxy47peg4dg4sdzq9hligqgru6u3y5l4r2&ep=v1_gifs_related&rid=giphy.gif&ct=g" alt="yo!">
      </div>
     
     
    
    </div>
  
  
  
  
















    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related designs and links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://lucid.app/users/registerOrLogin/spark-free?showLogin=false&invitationId=inv_370ff688-d223-4d63-8eac-6560babd1627&productOpt=spark&invitationType=documentAcceptance&returnUrlOverride=%2Flucidspark%2F0300ef67-343e-4735-8810-76b34704be2a%2Fedit%3Fpage%3D0_0%26invitationId%3Dinv_370ff688-d223-4d63-8eac-6560babd1627#" target="_blank">
               Beta designs - Lucid board
              </a>
            </li>
            <li>
              <a href="https://lucid.app/users/registerOrLogin/spark-free?showLogin=false&invitationId=inv_9f3f6ad3-ff55-4aff-8fc9-e655a4d78a83&productOpt=spark&invitationType=documentAcceptance&returnUrlOverride=%2Flucidspark%2F003a868c-4fc8-4266-a1a4-f6abf5b53c49%2Fedit%3FinvitationId%3Dinv_9f3f6ad3-ff55-4aff-8fc9-e655a4d78a83%26page%3D0_0#" target="_blank">
                User research - Lucid board
              </a>
            </li>
            <li>
              <a href="https://lucid.app/users/registerOrLogin/spark-free?showLogin=false&invitationId=inv_8f3717aa-3161-4212-be55-0d3724808a1f&productOpt=spark&invitationType=documentAcceptance&returnUrlOverride=%2Flucidspark%2Fd77a766a-c383-49d4-b910-eb3fa1b96249%2Fedit%3FinvitationId%3Dinv_8f3717aa-3161-4212-be55-0d3724808a1f%26page%3D0_0#" target="_blank">
               Content, Schema and ERD - Lucid board
              </a>
            </li>

            <li>
              <a href="https://lucid.app/lucidspark/4689882a-f864-4992-b61f-fd398c12948b/edit?page=0_0&invitationId=inv_c2a77f26-3b63-4e4d-8078-975faba569b0#" target="_blank">
               Beta sprint board - Lucid
              </a>
            </li>


 <!--           <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li> -->
          


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
           

        <li>
          <a href="https://fabs-staging-1e4ac0db7233.herokuapp.com" target="_blank">
            Development progress - Staging server
          </a>
        </li> 
        <li>
          <a href="/v2/other-pages/usability-survey" target="_blank">
            Design - Usability survey
          </a>
        </li> 



          </ul>
        </nav>
      </aside>

    </div>
</div>

















  
  
  
  

{% endblock %}
