{% extends "layouts/main-index-header.html" %}

{% set pageName="Home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">













      <strong class="govuk-tag" style="margin-bottom: 10px;">Latest version</strong>

      <h2 class="govuk-heading-l">Prototype launch</h2>

      <p class="govuk-body-m">Initial installation of the prototype. Setting up the Github and connecting with Heroku to get started.</p>
      


      <a href="v1/home.html" target="_blank" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start prototype
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <span class="govuk-caption-m">Last updated: 25 March 2025</span>
      <span class="govuk-caption-m">Created on 18 March 2025</span>
      <span class="govuk-caption-m">Created by Maulik Jani</span>
      <span class="govuk-caption-m">Version 1</span>
</br>
  


      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version details
          </span>
        </summary>
</br>
        <ul class="govuk-list govuk-list--bullet">
          <li>Setup new prototype</li>
          <li>Push live to heroku</li>
  
        </ul> 

      </details>
     
     
     
     
    






      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">












































  <!--    <h2 class="govuk-heading-m">V2 Recording route to market</h2>
      <p><a class="govuk-link" href="v2/procurement-operations/procurement?branding=DfE&userType=procurement-operations">Procurement operations</a> |
        <a class="govuk-link" href="v2/school-buyer/procurement?branding=DfE&userType=school-buyer">School buyer</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Add route to market in Stage 1 that replicates options from the
          live case management system.</li>
        <li>Picking a route to market changes a placeholder task in stage 2</li>
        <li>Procurement operations can complete the route to market task, but
          school users can only view the answers as statements</li>
        <li>Stage 1 approval task can be done when the preceding tasks are
          complete</li>
        <li>Stage 2 unlocks when stage 1 is approved</li>
        <li>Add task to indicate if the procurement is above the threshold,
          if so then show the additional check before going to market</li>
        <li>Direct awarded become Non-DfE deal or framework</li>
        <li>Task lists move to includes files</li>
      </ul>

-->






    </div>
  </div>
{% endblock %}
