{% extends "v3/layouts/main-footer.html" %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block pageTitle %}
FABS Prototype - {{ serviceName }}
{% endblock %}


{% block header %}
  {% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}
  
  {% include "/v3/includes/nav.html" %}

  <section class="govuk-!-padding-top-7 govuk-!-padding-bottom-4 govuk-service-navigation">

  {% include "/v3/includes/beta-banner.html" %}


  <!-- Breadcrums -->


    <div class="govuk-width-container" style="margin-top: 0px;">
      <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list govuk-body-s">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/v3/home">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/v3/catering/catering">Catering</a>
          </li>
         
        </ol>
      </nav>
    </div>





    <div class="govuk-width-container" style="margin-top: 35px;">




        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <span class="govuk-caption-m">Framework</span>
               <h1 class="govuk-heading-l">Building in use - support services
               
                <p class="govuk-body-l" style="margin-top: 10px;" >A framework providing catering, cleaning and caretaking, security and reception, CCTV (inclusive of remote monitoring), car park management, mobile patrols and key holding, food hygiene inspection, waste management. There's also a 'whole house' option to accommodate all or several of these. This is a dynamic purchasing system (DPS) open to, and suitable for both national and regional suppliers throughout its entire duration.</p>
               </h1>
               

               


          
            </div>
        </div>
    </div>
</section>


{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/dfefrontend.js"></script>
{% endblock %}






































































{% block content %}




<!-- framework details-->


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">


<!--  <p class="govuk-body-l">We think you should use the Crescent Purchasing Consortium (CPC) framework.</p> -->
        
  <div>
    <h2 class="govuk-heading-m">What it offers</h2>
    <p>A framework providing:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>catering services</li>
      <li>cleaning and caretaking</li>
      <li>security and reception</li>
      <li>CCTV including remote monitoring</li>
      <li>car park management</li>
      <li>mobile patrols and key holding</li>
      <li>food hygiene inspections</li>
      <li>waste management</li>
    </ul>
  </div>

  <div>
    <h2 class="govuk-heading-m">Benefits</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>YPO can fully manage the customer’s further competition (call-off) process if required</li>
      <li>flexibility to respond to changes in the market and offer local suppliers, providers, and small and medium-sized enterprises (SMEs) the opportunity to bid and be awarded to the Dynamic Purchasing System (DPS)</li>
      <li>reduced timescales - customers do not need to run a full OJEU procurement if procuring via the DPS</li>
    </ul>
  </div>





  <!-- DEFAULT CONTENT FOR ALL BUYING OPTIONS -->

  <div>
    <p>All frameworks also offer</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>compliance with the relevant procurement regulations</li>
      <li>suppliers pre-checked by the approved framework provider</li>
      <li>pre-agreed terms and conditions</li>
    </ul>
  </div>



  <a href="https://www.ypo.co.uk/unbxd-all-search?q=879%20DPS%20for%20schools&utm_source=dfe&utm_medium=referral&utm_campaign=contracts-for-schools" target="_blank" role="button" draggable="false" class="govuk-button govuk-!-margin-top-5 frameworkbutton--external" data-module="govuk-button">
    Visit the <span id="supplier">YPO</span> website
  </a>
          



        </div>


















        <div class="govuk-grid-column-one-third">

          <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
            <h2 class="govuk-heading-s" id="subsection-title">
              Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16">
                <li>
                  <a href="https://www.gov.uk/guidance/plan-technology-for-your-school?utm_medium=referral&utm_source=ghbs_framework" target="_blank">
                    Plan technology for your school
                  </a>
                </li>
                <li>
                  <a href="https://www.gov.uk/guidance/buying-for-schools--2" target="_blank">
                    Buying for schools guidance
                  </a>
                </li>
                <li>
                  <a href="https://www.gov.uk/guidance/meeting-digital-and-technology-standards-in-schools-and-colleges/broadband-internet-standards-for-schools-and-colleges" target="_blank">
                   Broadband internet standards for schools and colleges
                  </a>
                </li>
    
     <!--           <li>
                  <a href="#" class="govuk-!-font-weight-bold">
                    More <span class="govuk-visually-hidden">in Subsection</span>
                  </a>
                </li> -->
              
    
    
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
               
            <li>
              <a href="https://buyingforschools.blog.gov.uk/2024/11/19/update-for-schools-and-trusts-on-procurement-act-2023-are-you-ready/" target="_blank">
                Register for e-learning and information about the new Procurement Act 2023
              </a>
            </li>  
    
    
    
              </ul>
            </nav>
          </aside>
    
        </div>
    </div>
    



{% endblock %}
